body {
	background-color:#1B2330 ;
	padding-top: 10px;
}

.sign {
	margin-top: -1000px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 400;
	padding-top: 10%;
}

.sign form {
	background-color:  #d0d3d4 ;
	border-radius: 20px;
	position: relative;
	border: 2px #FFF solid;
	padding:50px 20px 0 20px;
	left: -2000px;
}

.sign form .input {
	width: 90%;
	height: 35px;
	color: #FFF;
	border: 2px #FFF solid;
	margin-bottom: 10px;
	border-radius: 5px;
	background: rgba(149, 165, 166 , 0.8);
	padding: 10px;
	margin-left: 5000px;
}

.sign form button {
	display: none;
	margin: 20px;
}

/* Start Top NavBar */

.topNav {
	
}

.topNav img {
	float: left;
	height: 30px;
	width: auto
}

.topNav .icon {
	color: #FFF;
	font-size: 25px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	
}

.mainManu {
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	padding-top: 15%;
}

.mainManu li {
	position: relative;
	width: 30%;
	margin: 10px auto;
	line-height: 100%;
	border: 1px #FFF solid;
	padding: 15px;
	color: #FFF;
	background-color: #999;
	text-align: center;
	cursor: pointer;
	font-size: 22px;
}



/* End Top NavBar */
  

/*top*/

.top {
	padding: 10px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	display: none;
	cursor: pointer;
	z-index: 500
}

/*top*/


/* Start Header */
header {
	background-color: #1B2330 ;
	color: #FFF;
}

header  .innerHeader {
	background: url(../images/bg-curvy-desktop.svg) no-repeat center center;
	background-size: contain;
	background-position: bottom;
	width: 100%;
	padding-bottom: 30px;
}

header h2 {
	margin-bottom: 20px;
	margin-top: 40px;
}

header p {
	margin-bottom: 20px;
}

header button {
	width: 150px;
	border-radius: 40px !important;
}
/* End Header */



/* Start sectionOne */

.sectionOne {
	background-color: #181F2B ;
}

.sectionOne  .partSectionOne {
	margin-bottom: 40px;
	color: #FFF
}

.sectionOne  .partSectionOne img {
	height: 90px;
}


/* Start sectionTwo */

.sectionTwo {
	background-color: #181F2B ;
	padding-bottom: 40px;
}

.sectionTwo .partSectionTwo {
	padding: 10px;
	color: #FFF
}

.sectionTwo .partSectionTwo img {
	width: 100%;
	
}

.sectionTwo .partSectionTwo h2 {
	text-align: left;
	margin-top: 50px;
	font-size: 38px;
}

.sectionTwo .partSectionTwo p {
	text-align: left;
	margin-top: 30px;
}

.sectionTwo .partSectionTwo button {
	
}


/* sectionThree */

.sectionThree {
	background-color: #181F2B ;
	padding-bottom: 25px;
	padding-top: 30px;
}

.sectionThree .equotes {
	margin-left: -10px
}

.sectionThree .partSectionThree {
	background-color: #21293C;
	color: #FFF;
	padding-bottom: 20px;
	border: 2px #222833 solid;
	margin-bottom: 15px
}

.sectionThree .partSectionThree p {
	padding: 15px;
}

.sectionThree .partSectionThree img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 15px;
}

.sectionThree .partSectionThree h5 {
	width: 150px;
	display: inline;
	font-size: 20px;
	margin-left: 10px;
}





/* Start products */
	
.products {
	padding-top: 20px;
	color: #FFF;
}

.products .prod1 {
	background-color:  #34495e ;
}

.products .prod1 img {
	width: 100%;
	height: auto
}

.products .prod1 h3 {
	
}

.products .prod1 p {
	padding: 20px;
}

/* End products */












/* footer */

footer {
	color: #FFF;
	margin-top: 200px;
	background-color: #181F2B ;
}

footer .signUp {
	width: 70%;
	margin: -100px auto 0 auto;
	border: 2px #222833 solid;
	min-height: 200px;
	background-color: #181F2B ;
	border-radius: 5px;
	padding: 20px;
	

}

footer .signUp h2 , 
footer .signUp p {
	color: #FFF;
	margin-bottom:  20px;
	padding: 15px
}

footer .signUp .input1 {
	border-radius: 10px;
	width: 100%;
	border: none;
	height: 33px;
	color: #000;
	padding: 5px;
	margin-bottom: 15px;
}

footer .signUp button {
	color: #333;
	width: 100%;
}



footer .plo {
	padding: 10px;	
}

footer .plo p {
	padding: 15px;
}




footer .email {
	padding: 100px 20px;
}

footer .email .icon {
}

footer .email p {
	display: inline-block;
	padding: 0 10px 0 10px;
}


footer .map {
	padding: 70px 0;
}

footer .map ul {
	width: 50%;
	display: inline;
	float: left
}

footer .map ul li {
	font-size: 22px;
	cursor: pointer;
}


footer .social {
	padding: 50px;
	
}

footer .social .icon {
	font-size: 25px;
	margin-top: 30px;
	cursor: pointer;
	margin-left: 10px
}
